body {
  margin: 0;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-family: 'Raleway', sans-serif;
  color: #effffb;
}

h1 {
  margin-top: 0;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 4rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: normal;
}

p {
  color: #d4d7dd;
}


.profilepic {
  border-radius: 40%;
  display:block;
  margin: auto auto 50px auto;

}

.p-skills {
  font-size: 80%;
}

.hello{
  display: inline-block;
}
.cat1 {
  height: 50px;
  position: relative;
  display: inline;
}

.cat2{
  height: 200px;
  float: left;
  margin-right: 20px;
}

.cat3{
  height: 200px;
  float: left;
  margin-right: 20px;
}

.cat4{
  height: 200px;
  float: left;
  margin-right: 20px;
}

.cat5{
  height: 50px;
}


/* DIV Formatting*/
.skill-row {
  width: 50%;
  margin: 100px auto 100px;
  text-align: left;
  line-height: 2;
}

.top-container {
  background-color: #17223b;
  position: relative;
  padding-top: 150px;
  height: 750px;
}

.middle-container {
  padding-top: 150px;
  background-color: #17223b;
}

.bottom-container {
  background-color: #17223b;
}

/* end DIV formatting */
.mountains {
  position: relative;
  top: 200px;
}

.catfall {
  height: 100px;
  position: absolute ;
  right: 650px;
}

.clouds {
  height: 100px;
  width: 150px;
  position: absolute;
  right: 30%;
  top: 50px;
}

.clouds2 {
  position: absolute;
  left: 20%;
  height: 150px;
  width: 250px;
}
